<%= form_with(model: office) do |form| %>
  <% if office.errors.any? %>
    <div class="container">
        <div class="row">
            <div class="col alert alert-danger alert-dismissible fade show mt-3" role="alert">
              <strong>Encontramos <%= pluralize(office.errors.count, "error") %> ao salvar o formulário.</strong>

              <ul>
                <% office.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
  <% end %>

  <div class="row g-3 mb-2">
    <div class="col-md-4">
      <%= form.label "Cargo:", class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  

    <div>
      <%= form.submit 'Salvar', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
