<div id="<%= dom_id user %>">
   <form>
    <fieldset disabled>
      <div class="row" >
        <div class="col-3 mb-3">
          <label for="disabledTextInput" class="form-label"><strong>Usuário:</strong></label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= user.username %>">
        </div>
        <div class="col-3 mb-3">
          <label for="disabledTextInput" class="form-label"><strong>Nome:</strong></label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= user.firstname %>">
        </div>
        <div class="col-3 mb-3">
          <label for="disabledTextInput" class="form-label"><strong>Sobrenome:</strong></label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= user.lastname %>">
        </div>
        <div class="col-3 mb-3">
          <label for="disabledTextInput" class="form-label"><strong>Matrícula:</strong></label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= user.registration %>">
        </div>
        <div class="col-3 mb-3">
          <label for="disabledTextInput" class="form-label"><strong>Moderação:</strong></label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= user.role %>">
        </div>
      </div>
    </fieldset>
  </form>
</div>
