<%= form_with(model: timesheet) do |form| %>
  <% if timesheet.errors.any? %>
    <div class="container">
      <div class="row">
        <div class="col alert alert-danger alert-dismissible fade show mt-3" role="alert">
          <strong>Encontramos <%= pluralize(timesheet.errors.count, "erro") %> ao salvar o formulário.</strong>

          <ul>
            <% timesheet.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row g-3 mb-2">
    <div class="col-3 mb-3" >
      <strong><%= form.label "Setor", class: "form-label" %></strong>
      <%= form.collection_select :sector_id, Sector.all, :id, :name, {prompt: "Selecione um setor"}, {class: "form-select"} %>
    </div>
    <table id="table" data-height="500" data-toggle="table" data-height="500" data-pagination="true" data-search="true" data-search-accent-neutralise="true" class="table table-bordered table-striped" >
      <thead>
        <tr>
          <th scope="col">Funcionários</th>
          <th scope="col">Setor</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <% @employees.each.with_index do |employee, index|  %>
          <%= form.fields_for :line_employees, timesheet.line_employees.build do |line_employee_form| %>
          <tr>
              <td class="text-capitalize"><%= line_employee_form.check_box :employee_id, {class:"form-check-input"}, employee.id, 0 %>  <%= line_employee_form.label employee.firstname, class:"form-check-label" %> <%= line_employee_form.label employee.lastname, class:"form-check-label" %></td>
              <td class="text-capitalize"><%= line_employee_form.label employee.sector.name, class:"form-check-label" %></td>
              <td><%= line_employee_form.select :status, options_for_select([  ["Selecione", ""],  "presenca", "falta", "atestado", "inss", "ferias", "licenca", "atrasado", "vacancia", "antecipada"]), {}, { class: "form-select text-capitalize" } %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div>
    <%= form.submit 'Salvar', class: 'btn btn-success' %>
    </div>
  </div>

  
  
<% end %>
