<%= form_with(model: timesheet) do |form| %>
  <% if timesheet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(timesheet.errors.count, "error") %> prohibited this timesheet from being saved:</h2>

      <ul>
        <% timesheet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :sector, style: "display: block" %>
    <%= form.collection_select :sector_id, Sector.all, :id, :name, {prompt: "Selecione um setor"}, {class: "form-select"} %>
  </div>
  <table id="table" data-height="500" data-toggle="table" data-search="true" data-height="500" data-pagination="true" data-search-accent-neutralise="true" class="table table-bordered table-striped" >
    <thead>
      <tr>
        <th scope="col">Status</th>
        <th scope="col">Funcionário</th>
        
      </tr>
    </thead>
    <tbody>
  
    
    <%= form.fields_for :line_employees do |line_employee_form| %>
    <tr>
        <td><%= line_employee_form.select :status, options_for_select([  ["Selecione um", ""],  "presenca", "falta", "atestado", "inss", "ferias", "licenca", "atrasado"]), {}, { class: "form-select" } %></td>
        <td><%= line_employee_form.collection_select :employee_id, Employee.all, :id, :full_name, {prompt: "Selecione um local"}, {class: "form-select"} %></td>
    </tr>
    <% end %>
    
  </tbody>
  </table>

  <div>
    <%= form.submit %>
  </div>
<% end %>
